$sm: 740px;
$md: 900px;
$lg: 1280px;
$xl: 1600px;
$size: 400px;
@import 'grid';
// @import 'css/astra.scss';
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.none {
    display: none;
}

h1 {
    text-align: center;
    span {
        font-size: 20px;
        color: greenyellow;
    }
}

.sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    div,
    span.active {
        font-size: 30px;
        color: gold;
        padding: 20px;
        cursor: pointer;
    }
    span.pasive {
        font-size: 30px;
        color: black;
        padding: 20px;
    }
}

.like-button {
    svg {
        width: 24px;
        height: 24px;
        margin: 0 0 0 10px;
        display: inline-block;
        fill: yellow;
        cursor: pointer;
    }
    &.dislike {
        svg {
            transform: rotate(-180deg);
        }
    }
}

.sorter {
    svg {
        width: 24px;
        height: 24px;
        margin: 0 0 0 10px;
        display: inline-block;
        fill: brown;
    }
    &.active {
        color: gold;
        &.up {
            svg {
                transform: rotate(-180deg);
            }
        }
    }
    &.pasive {
        color: gray;
        svg {
            display: none;
        }
    }
}

.filter {
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    select {
        margin: 10px 0;
        display: block;
    }
}

.book {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    h2,
    h4 {
        margin: 0;
        padding: 0;
    }
    h4 {
        color: orangered;
        padding: 7px 0;
    }
    img {
        height: 200px;
        width: auto;
        margin-bottom: 15px;
    }
    span {
        color: gray;
        font-size: 26px;
    }
    h2 span {
        svg {
            width: 24px;
            height: 24px;
            margin: 0 0 0 10px;
            display: inline-block;
            fill: red
        }
    }
}